/* Keyboard Key CSS */

key {
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  box-sizing: border-box;
  border: solid #333 2px;
  text-align: center;
  min-width: 2em;
  min-height: 2em;
  padding: 0.5em;
  margin: 0.25em;
  background-color: #F6F6F6;
  color: #333;
  border-radius: 5px;
  box-shadow: 0.25em 0.25em;
}

key.pressed {
  background-color: #7FDBFF;
  box-shadow: 0 0;
  transform: translate(0.25em, 0.25em);
}

shortcut {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  color: #333;
}

shortcut.lg {
  font-size: 30px;
}

shortcut.sm {
  font-size: 10px;
}

shortcut.sm > key {
  border: solid #333 1.25px;
}

shortcut > description {
  font-size: 1.2em;
}

shortcut > description::before {
  content: ":";
  padding: 3px;
}
